* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin-top: 2em;
}

.container {
  text-align: left;
  width: 30%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 2em;
  font-size: 20px;
}

.inputText {
  border-radius: 5px;
  border: none;
  background-color: #c4c2c2;
  max-width: 250px;
  padding: 0.5em;
}
.input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;

  box-sizing: border-box;
}

.input_1 {
  border-radius: 5px; /* Esquinas redondeadas solo para input de tipo number */
  border: none; /* Borde gris claro */
  background-color: #c4c2c2;
  max-width: 250px;
  width: 100%;
  padding: 0 10px;
}

.input_2 {
  margin-top: 10px;
  padding: 10px;
  width: 99%; /* Ancho máximo menos el espacio para el padding */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  border: 3px solid #ccc; /* Borde gris claro */
  width: 100%;
}
.button {
  margin-top: 10px;
  padding: 10px 20px;

  max-width: 200px; /* Limita el ancho máximo para una mejor presentación en pantallas grandes */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  background-color: #20c997; /* Color verde agua */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
}
.header {
  font-size: 40px;
}
